*, *::after, *::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans';
}
html {
    scroll-behavior: smooth;
}
.header-div{
    display: flex;
    width: 100%;
    background-color: #333333;
  
}
.header-div-justify-left-p{
    color: white;
    font-weight: 700;
}

.logo{
    width: 1.3rem;
    cursor: pointer;
}

.search-bar{
    margin-left: auto;
}

.header-div-justify-left{
    margin-right: auto;
    display: flex;
    gap:1rem;
    margin-left: 5rem;
    margin-top: .7rem;
    margin-bottom: .7rem;
}
.header-div-justify-left-p{
    align-self: center;
}
.header-div-justify-right{
    margin-left: auto;
   display: flex;
   gap:1.5rem;
   margin-right: 5rem;
   margin-top: .7rem;
   margin-bottom: .7rem;
}
.header-div-justify-right .logo{
    width: 1.2rem;
    height: 1.2rem;
}
nav{
    display: flex;
}

ul{
    display: flex;
    gap: 1rem;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.4rem;
    font-weight: 500;
}
ul li {
    list-style: none;
    padding: 1.4rem 1rem;
    display: block;
    font-size: 1.1rem;
}
a{
    align-self: center;
    transition: ease-in-out .2s;
}
nav .logo {
    margin-left: auto;
    margin-right: 4.6rem;

}
.predator-logo{
    width: 10rem;
    align-self: center;
    padding:1rem; 
     margin-right: auto;
     margin-left: 4rem;
}
.background-inside-text{
    align-self: center;
    margin-left: 10rem;
    margin-right: auto;
    border: none;
}

.background-inside-text h1,
.background-inside-text p{
    margin: auto auto 1rem auto;
    color: whitesmoke;
}

.background-inside-text h1{
    font-size: 2.5rem;
}

.background-inside-text p{
    font-size: 1.1rem;
}

.background-inside-text a{
    margin: 1rem auto;
    display: inline-block;
    text-decoration: none;
    padding: .5rem 1.5rem; 
    color: #222;
    background-color: #c34343;
    font-weight: 700;
    font-size:clamp(1rem, 0.19vw + 0.96rem, 1.13rem);
}

.container-flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    padding: 1rem 7rem;
    font-size: .5rem;
    width: 100%;
}

.container-flex p{
    font-size: .9rem;
    color: #474747;
}
h2 {
    font-size:clamp(1.8rem, 0.34vw + 1.72rem, 2.03rem);
    text-align: center;
    margin-bottom: 4rem;
    margin-top :2rem;
}
h3{
    color: #222;
    font-size: 1.5rem;
    margin-top: 1rem;
    font-weight: 700;
    margin-bottom: .2rem;
}
.container-flex-img{
    width: 100%;
    height: auto;
    vertical-align: middle;
    overflow: hidden;
    object-fit: contain;
}

.section-one{
    background-image: url('https://images.acer.com/is/image/acer/predator-thronos-air-ksp-1?$responsive$');
    height: 30rem; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    box-shadow: inset 30rem .5rem 10rem;
}

.page-one{
    text-align: center;
    padding: 1.5rem 15rem ;
    font-size: 1.125rem;
}
.page-three{
    margin-top: 5rem;
}
.display-block-span{
    display: block;
}

.laptops{
    display: flex;
    flex-wrap: wrap;    
    align-items: stretch;
    justify-content: center;
    margin: 1.5rem;
    gap: 0;
}
.laptops li img{
 width: 20rem;
}

.display-flexed{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 5px #9a9696;
    padding:2rem 0;
  
}
.display-flexed:hover{
    box-shadow: 0px 0px 20px #b5b0b0;
    cursor: pointer;
}

.footer {
    width: 100%;
   align-self: center;
   border: none;
   margin-top: 5rem;
   padding: 2rem;
   font-weight: 700;
   font-size: 1rem;
   cursor: pointer;
}

.laptops-explore-button{
    background-color: #80c343;
    text-decoration: none;
    padding: 1rem 1.5rem;
    margin-top: 1rem;
    color: #333;
    font-weight: 700;
}

.laptops-explore-button:hover{
    background-color: #ffffff;
    border: 1px solid #80c343;
}

.header-menu li:hover {
    background-color: rgb(234, 216, 182);
    cursor: pointer;
    transition: ease-in-out .5s;
}   




